body {
  background-color: cornflowerblue;
  background-image: url("./Assets/Images/practice.jpg");
  background-repeat: no-repeat;
  background-position-x: auto;
  background-position-y: auto;
  background-size: cover;
}

h1 {
  font-size: xx-large;
  font-style: italic;
  font-weight: bolder;
}

.carousel {
  margin: 0 auto;
  height: 40%;
  width: 40%;
}
.carousel {
  margin: 0 auto;
  height: 40%;
  width: 40%;
}
.carousel {
  margin: 0 auto;
  height: 40%;
  width: 40%;
}

h5 {
  height: 40%;
  width: 40%;
}
caption {
  font-weight: bolder;
  font-size: xx-large;
  color: black;
}
