<table id="type-assets" class="table table-striped">
    <thead>
        {{>tables/assetTypeheader}}
    </thead>
    <tbody>
        {{#each asset}}
        {{>tables/assetTyperows}}
        {{/each}}
    </tbody>
</table>