<div class="table-responsive">
    <table id="all-assets" class="table table-striped">
        <thead>
            {{>tables/assetHeader}}
        </thead>
        <tbody>
            {{#each equipment}}
            {{>tables/assetRow}}
            {{/each}}
        </tbody>
    </table>
</div>