<table id="all-assets" class="table-responsive table-striped">
    <thead>
        {{>tables/assetHeader}}
    </thead>
    <tbody>
        {{#each equipment}}
        {{>tables/assetRow}}
        {{/each}}
    </tbody>
</table>