<ul class="nav nav-tabs">
    <a href="/dashboard">
        <img style="width: 110px; height:110px" class="nav-link navFont" src="/assets/Images/IMSystemlogo.png"></img>

    </a>
    <li class="nav-item dropdown">

        <a class="nav-link dropdown-toggle navFont" data-toggle="dropdown" href="/dashboard" role="button"
            aria-haspopup="true" aria-expanded="false">Asset Functions</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/add-asset">Add</a>
            <a class="dropdown-item" href="/update-asset">Update</a>
            <a class="dropdown-item" href="/delete-asset">Delete</a>
            {{!-- <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a> --}}
        </div>
    </li>
    <div class="container">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/assets\Images\backhoe2.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/assets\Images\front end loader.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/assets\Images\skid2.jpg" alt="Third slide">

                </div>
            </div>
        </div>






        <canvas id="myChart"></canvas>
        <h1></h1>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script type="module">

        let myChart = document.getElementById('myChart').getContext('2d');


        let quantChart = new Chart(myChart, {
            type: "pie",//bar, pie, line, doughnut, radar,
            data: {
                labels: ['Boom Lift', 'Scissor Lift', 'Forklift', 'Single Man Lift', 'Telehandler', 'Bulldozer', 'Skid Steer Loader'],
                datasets: [{
                    Label: "Quantity",
                    data: [
                        552,
                        718,
                        888,
                        600,
                        400,
                        150,
                        252,
                    ],
                    //    backgroundColor:'green'
                    backgroundColor: [
                        'rgb(255, 99, 132,0.6)',
                        'rgb(54, 162, 235,0.6)',
                        'rgb(255, 206, 86,0.6)',
                        'rgb(75, 192, 192,0.6)',
                        'rgb(153, 102, 255,0.6)',
                        'rgb(255, 99, 64,0.6)',
                        'rgb(255, 102, 132,0.6)'
                    ],
                    borderWidth: 2,
                    borderColor: '#777',
                    hoverBorderWidth: 4,
                    hoverBorderColor: 'black'
                }]
            },

            options: {
                title: {
                    display: true,
                    text: "Asset Value ",
                    FontSize: 35
                },
                legend: {
                    display: true,
                    position: "right",
                    labels: {
                        fontColor: "black"
                    }

                },
                layout: {
                    padding: {
                        left: 0,
                        right: 0,
                        bottom: 0,
                        top: 100
                    }
                },
                tooltips: {
                    enabeld: true
                }

            }

        });

    </script>