<section class="hero is-dark is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Product Delete
            </h1>
            <h2 class="subtitle">
                Delete an existing product
            </h2>
        </div>
    </div>
</section>
<br>

<div class="container">
    <div class="columns is-mobile">
        <div class="column">
            <div class="card">
                <div class="content">
                    <form name="deleteForm" id="deleteForm">
                        <label class="label">Please provide id for entry you would like to delete</label>
                        {{!--Delete field --}}
                        <div class="field">
                            <label for="nameInput" class="label">Product Name</label>
                            <div class="control">
                                <input class="input" id="nameInput" type="text" placeholder="Type product name here." />

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>