<ul class="nav nav-tabs">
    <a href="/dashboard">
        <img style="width: 110px; height:110px" class="nav-link navFont" src="/assets/Images/IMSystemlogo.png"></img>

    </a>
    <li class="nav-item dropdown">

        <a class="nav-link dropdown-toggle navFont" data-toggle="dropdown" href="/dashboard" role="button"
            aria-haspopup="true" aria-expanded="false">Asset Functions</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/add-asset">Add</a>
            <a class="dropdown-item" href="/update-asset">Update</a>
            <a class="dropdown-item" href="/delete-asset">Delete</a>
            <a class="dropdown-item" href="/addType-asset">Add Type</a>
            {{!-- <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a> --}}
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link navFont" href="/dashboard">Dashboard</a>
    </li>
</ul>

<div id="pageHolder">
    <div class="container">
        <section class="hero is-dark is-bold">
            <div class="hero-body">
                <div class="container">
                    <div class="p-4">
                        <h1 class="title card text-center p-4 titleFont">
                            Inventory/Asset Manger
                        </h1>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <div class="columns is-mobile" style="height: 800px;">
            {{!-- <div class="column "> --}}
                <div class="card">
                    <div class="content">


                        {{>forms/delete}}


                        {{>tables/assetTable}}
                    </div>
                </div>
                {{!--
            </div> --}}
        </div>
    </div>
</div>