<section class="hero is-dark is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Product Management
            </h1>

        </div>
    </div>
</section>
<br>

<div class="container">
    <div class="columns is-mobile">
        {{!-- <div class="column "> --}}
            <div class="card">
                <div class="content">


                    {{>forms/newOrder}}

                    {{>tables/assetTable}}
                </div>
            </div>
            {{!--
        </div> --}}
    </div>
</div>