<section class="hero is-dark is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Product Management
            </h1>
            <h2 class="subtitle">
                Add new product or view existing products and their inventories.
            </h2>
        </div>
    </div>
</section>
<br>

<div class="container">
    <div class="columns is-mobile">
        <div class="column">
            <div class="card">
                <div class="content">
                    <form name="orderForm" id="orderForm">
                        <label class="label">Add Product</label>
                        {{!--Product name --}}
                        <div class="field">
                            <label for="nameInput" class="label">Product Name</label>
                            <div class="control">
                                <input class="input" id="nameInput" type="text" placeholder="Type product name here." />

                            </div>
                        </div>
                        {{!-- Description --}}
                        <div class="field">
                            <label for="description" class="label">Description</label>
                            <div class="control">
                                <input class="input" id="description" style="color:grey; font-weight; bold">

                            </div>
                        </div>
                        {{!-- asset value --}}
                        <div class="field">
                            <label for="assetVal" class="label">asset value</label>
                            <div class="control">
                                <input class="input" id="assetVal" type="text"
                                    placeholder="asset value of the product." />

                            </div>
                        </div>
                        {{!-- is rented --}}
                        <div class="field">
                            <label for="isRented" class="label">Rental Status</label>
                            <div class="control">
                                <input class="input" id="isRented" style="color:grey; font-weight; bold">

                            </div>
                        </div>
                        {{!-- rented location --}}
                        <div class="field">
                            <label for="rentedLocation" class="label">Rented Location</label>
                            <div class="control">
                                <input class="input" type="text" id="rentedLocation" placeholder="i.e. Denver" />

                            </div>

                        </div>
                        {{!-- Company --}}
                        <div class="field">
                            <label for="companyRenting" class="label">Company Renting</label>
                            <div class="control">
                                <input class="input" type="text" id="companyRenting" placeholder="i.e. Dave's Trucks" />

                            </div>
                        </div>
                        {{!-- Rate --}}
                        <div class="field">
                            <label for="rentalRate" class="label">Rate per week</label>
                            <div class="control">
                                <input class="input" type="text" id="rentalRate" placeholder="i.e. $200" />

                            </div>
                        </div>
                        {{!-- Return --}}
                        {{!-- <div class="field">
                            <label for="realized_returns" class="label">Realized return</label>
                            <div class="control">
                                <input class="input" type="text" id="returnRealized" placeholder="Realized Return" />

                            </div>
                        </div> --}}
                        {{!-- Check-in --}}
                        <div class="field">
                            <label for="checkIn" class="label">time checked in</label>
                            <div class="control">
                                <input class="input" type="text" id="checkIn" placeholder="time checked-in?" />

                            </div>
                        </div>
                        {{!-- Checkout --}}
                        <div class="field">
                            <label for="checkOut" class="label">time checked out</label>
                            <div class="control">
                                <input class="input" type="text" id="checkOut" placeholder="time checked-out?" />

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>