<form class="m-4" name="addTypeForm" id="addTypeForm">

    <label class="label">ADD AN ASSET TYPE</label>
    {{!--Product name --}}
    <div class="field">
        <label for="nameInput" class="label">Product Name</label>
        <div class="control">
            <input class="input field-place" id="nameInput" name="name" type="text" placeholder="Equipment name" />
        </div>
    </div>

    {{!-- Description --}}
    <div class="field">
        <label for="description" class="label">Description</label>
        <div class="control">
            <textarea class="input field-place" id="description" name="description"></textarea>
        </div>
    </div>

    {{!-- asset value --}}
    <div class="field">
        <label for="assetVal" class="label">Asset Value</label>
        <div class="control">
            <input class="input field-place" id="assetVal" name="asset_value" type="number"
                placeholder="asset value of the product." required value="0" />

        </div>
    </div>

    {{!-- rental rate --}}
    <div class="field">
        <label for="rentalRate" class="label">Rate Per Week</label>
        <div class="control">
            <input class="input field-place" type="text" id="rentalRate" name="rental_rate" placeholder="" />

        </div>
    </div>
    <button class="btn btn-primary btn-style" type="submit" value="Send">submit</button>
</form>