<form name="orderForm" id="deleteForm" action="/assets/delete" method="DELETE">
    <label class="label">Delete product</label>
    {{!-- DELETE --}}
    <div class="field">
        <label for="deleteEntry" class="label">Delete</label>
        <div class="control">
            <input class="input" id="deleteEntry" name="id" type="text" placeholder="Select id" />
        </div>
    </div>

    <button class="btn btn-primary btn-style" type="submit" value="Send">submit</button>
</form>