<form name="orderForm" id="orderForm" action="/assets/create" method="POST">
    <label class="label">Add Product</label>
    {{!-- DELETE --}}
    <div class="field">
        <label for="deleteEntry" class="label">Delete</label>
        <div class="control">
            <input class="input" id="deleteEntry" name="id" type="text" placeholder="Select Iid" />
        </div>
    </div>

    <input type="submit" value="Send">
</form>