<form class=" m-4" name="deleteForm" id="deleteForm">
    <label class="label">Delete Asset</label>
    {{!-- DELETE --}}
    <div class="field">
        <label for="deleteEntry" class="label">Delete by ID</label>
        <div class="control">
            <input class="input" id="id" name="id" type="text" placeholder="Select id" />
        </div>
    </div>

    <button class="btn btn-primary btn-style" type="submit" value="Send">submit</button>
</form>