<form class="m-4" name="updateForm" id="updateForm">
    <label class="label">UPDATE AN ASSET</label>


    {{!--Product ID --}}
    <div class="field">
        <label for="idInput" class="label">ID #</label>
        <div class="control">
            <input class="input field-place" id="idInput" name="id" type="text" placeholder="Equipment ID" />
        </div>
    </div>


    {{!--Product name --}}
    <div class="field">
        <label for="nameInput" class="label">Product Name</label>
        <div class="control">
            <input class="input field-place" id="nameInput" name="name" type="text" placeholder="Equipment name" />
        </div>
    </div>

    {{!-- Description --}}
    <div class="field">
        <label for="description" class="label">Description</label>
        <div class="control">
            <textarea class="input field-place" id="description" name="description"></textarea>
        </div>
    </div>
    {{!-- asset value --}}
    <div class="field">
        <label for="assetVal" class="label">Asset Value</label>
        <div class="control">
            <input class="input field-place" id="assetVal" name="asset_value" type="number"
                placeholder="asset value of the product." required value="0" />

        </div>
    </div>
    {{!-- is rented --}}
    <div class="field">
        <label for="isRented" class="label">Rental Status</label>
        <div class="control field-place">
            <select name="is_rented" id="isRented">
                <option value="1">True</option>
                <option value="0">False</option>
            </select>

        </div>
    </div>
    {{!-- rented location --}}
    <div class="field">
        <label for="rentedLocation" class="label">Rented Location</label>
        <div class="control">
            <input class="input field-place" type="text" name="location" id="rentedLocation"
                placeholder="i.e. Denver" />
        </div>

    </div>
    {{!-- Company --}}
    <div class="field">
        <label for="companyRenting" class="label">Company Renting</label>
        <div class="control">
            <input class="input field-place" type="text" id="companyRenting" name="company_renting"
                placeholder="i.e. Dave's Trucks" />

        </div>
    </div>
    {{!-- Rate --}}
    <div class="field">
        <label for="rentalRate" class="label">Rate Per Week</label>
        <div class="control">
            <input class="input field-place" type="text" id="rentalRate" name="rental_rate" placeholder="i.e. $200" />

        </div>
    </div>
    {{!-- Return --}}
    <div class="field">
        <label for="realized_returns" class="label">Realized Return</label>
        <div class="control">
            <input class="input field-place" type="text" id="returnRealized" name="realized_returns"
                placeholder="Realized Return" />

        </div>
    </div>
    {{!-- Checkin --}}
    <div class="field">
        <label for="checkIn" class="label">Time Checked-in</label>
        <div class="control">
            <input class="input" type="date" id="checkIn" name="time_checked_in" placeholder="time checked-in?" />

        </div>
    </div>
    {{!-- Checkout --}}
    <div class="field">
        <label for="checkOut" class="label">Time Checked-out</label>
        <div class="control">
            <input class="input" type="date" id="checkOut" name="time_checked_out" placeholder="time checked-out?" />

        </div>
    </div>


    <button class="btn btn-primary btn-style" type="submit" value="Send">submit</button>
</form>